---
- name: Install required packages
  apt:
    name:
      - gnupg
      - ca-certificates
    state: present
    update_cache: yes

- name: Add Jenkins GPG key
  ansible.builtin.get_url:
    url: https://pkg.jenkins.io/debian-stable/jenkins.io-2023.key
    dest: /usr/share/keyrings/jenkins-keyring.asc
    mode: '0644'

- name: Add Jenkins repository
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/usr/share/keyrings/jenkins-keyring.asc] https://pkg.jenkins.io/debian-stable binary/"
    state: present
    filename: jenkins

- name: Install Jenkins
  ansible.builtin.apt:
    name: jenkins
    state: latest
    update_cache: yes

- name: Start and enable Jenkins service
  ansible.builtin.systemd:
    name: jenkins
    enabled: yes
    state: started
