  GNU nano 7.2                                                                           nexus/tasks/main.yml                                                                                     ---
- name: Pull Nexus image
  docker_image:
    name: sonatype/nexus3
    source: pull

- name: Create Nexus data directory
  file:
    path: /opt/nexus-data
    state: directory
    mode: '0755'

- name: Run Nexus container
  docker_container:
    name: nexus
    image: sonatype/nexus3
    state: started
    restart_policy: always
    published_ports:
      - "8081:8081"
    volumes:
      - /opt/nexus-data:/nexus-data

